@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --futureart-1:#6b4796;
  --futureart-2:#3c3144;
  --futureart-3:#7f579e;
  --futureart-4:#b65299;
  --futureart-5:#f1f1f1;
  --futureart-6:#fff;
  --futureart-7:#ededed;
  --black-0:#000;
  --black-1: rgba(0,0,0,0.1);
  --black-9: rgba(0,0,0,0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  transition: all 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons a {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-right: 5px;
  color: var(--futureart-1);
}
.social-icons a:hover {
  background-color: var(--futureart-1);
  color: var(--futureart-6);
  animation: pulse-1 1s ease infinite;
}

.br-icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.br-icons .pdf-link {
  color: var(--futureart-1);
  font-size: 30px;
}
.br-icons .search-button {
  color: var(--futureart-1);
  font-size: 30px;
  margin-right: 25px;
}

.col-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
}
header .general-header {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
header .general-header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .general-header .container .row {
  width: 100%;
}
header .general-header .container .col-10 {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .general-header .container .col-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
}
header .general-header .container .col-2 .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 115px;
}
header .general-header .container .col-2 .header-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .general-header .right-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .general-header .right-wrapper .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  border-bottom: 1px solid var(--black-1);
}
header .general-header .right-wrapper .top .social-icons {
  padding: 0 10px;
}
header .general-header .right-wrapper .top .social-icons a {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-right: 5px;
  color: var(--futureart-1);
}
header .general-header .right-wrapper .top .social-icons a:hover {
  background-color: var(--futureart-1);
  color: var(--futureart-6);
  animation: pulse-1 1s ease infinite;
}
@keyframes pulse-1 {
  0% {
    box-shadow: 0 0 0 0 var(--futureart-1);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(254, 134, 134, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(254, 134, 134, 0);
  }
}
header .general-header .right-wrapper .top .top-nav-lang {
  padding: 0 15px;
  padding-right: 0;
  border-left: 1px solid var(--black-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .general-header .right-wrapper .top .top-nav-lang a {
  text-decoration: underline;
  font-size: 18px;
  color: var(--black-9);
  font-weight: 400;
  margin-right: 15px;
}
header .general-header .right-wrapper .top .top-nav-lang a.active {
  color: var(--futureart-1);
}
header .general-header .right-wrapper .bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .general-header .right-wrapper .bottom .row {
  width: 100%;
}
header .general-header .right-wrapper .bottom .links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .general-header .right-wrapper .bottom .links a {
  color: var(--black-9);
  position: relative;
}
header .general-header .right-wrapper .bottom .links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10%;
  width: 100%;
  height: 1px;
  transition: 0.3s;
  transform: scaleX(0);
  background-color: transparent;
}
header .general-header .right-wrapper .bottom .links a::after {
  transform: scale(1);
  width: 0;
}
header .general-header .right-wrapper .bottom .links a:hover {
  color: var(--futureart-1);
}
header .general-header .right-wrapper .bottom .links a:hover::after {
  background-color: var(--futureart-1);
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  header .general-header .right-wrapper .bottom .links a {
    font-size: 18px;
  }
}

header #search-offcanvas {
  max-height: 200px;
}
header #search-offcanvas .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
header #search-offcanvas .container .row {
  width: 100%;
}
header #search-offcanvas .col-10, header #search-offcanvas .col-2 {
  padding: 0;
}

.search-input {
  position: relative;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--futureart-7);
}
.search-input form {
  width: 100%;
  position: relative;
}
.search-input input {
  border: none;
  box-shadow: none;
  caret-color: var(--futureart-1);
  color: var(--futureart-1);
  padding: 12px 15px;
  padding-right: 45px;
  font-weight: 500;
  width: 100%;
  background-color: #ededed;
}
.search-input button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin: 0 10px;
}
.search-input button i {
  font-size: 20px;
  color: var(--futureart-1);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid var(--futureart-1);
  border-radius: 50%;
  margin: 10px 0;
}
.close-button i {
  color: var(--futureart-1);
  font-size: 24px;
}

.mobile-header {
  width: 100%;
  padding: 15px 0;
}
.mobile-header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-header .container .row {
  width: 100%;
}
.mobile-header .container .row .col-6 {
  padding: 0;
}
.mobile-header .container .header-logo {
  max-width: 70px;
}
.mobile-header .container .header-logo img {
  width: 100%;
  max-width: 70px;
}
@media only screen and (min-width: 768px) {
  .mobile-header .header-logo img {
    max-width: 120px;
  }
}
@media only screen and (min-width: 576px) {
  .mobile-header .header-logo img {
    max-width: 90px;
  }
}
.mobile-header .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-header .right .r-phone {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-header .right .r-phone:hover i {
  animation: phone-animation 0.2s ease infinite;
}
.mobile-header .right .r-phone i {
  color: var(--futureart-1);
  font-size: 20px;
}
@media only screen and (min-width: 380px) {
  .mobile-header .right .r-phone i {
    font-size: 24px;
  }
}
.mobile-header .right .r-phone span {
  color: var(--black-0);
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (min-width: 380px) {
  .mobile-header .right .r-phone span {
    font-size: 20px;
  }
}
.mobile-header .search-button, .mobile-header .menu-button {
  font-size: 20px;
  color: var(--futureart-1);
}
@media only screen and (min-width: 380px) {
  .mobile-header .search-button, .mobile-header .menu-button {
    font-size: 24px;
  }
}
@media only screen and (min-width: 380px) {
  .mobile-header .search-button, .mobile-header .menu-button {
    margin-right: 15px;
  }
}
.mobile-header .dropdown a, .mobile-header .dropdown span {
  color: var(--futureart-1);
  font-size: 22px;
  font-weight: 500;
}
.mobile-header .dropdown .dropdown-menu {
  min-width: 60px;
}
.mobile-header .dropdown .dropdown-menu li {
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-header .dropdown .dropdown-menu a {
  font-weight: 700;
}
.mobile-header #mobile-menu .header-logo {
  max-width: 90px;
}
.mobile-header #mobile-menu .header-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mobile-header #mobile-menu .canvas-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.mobile-header #mobile-menu .canvas-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: var(--futureart-1);
  padding: 12px 25px;
}
.mobile-header #mobile-menu .canvas-links a:hover {
  background-color: var(--futureart-1);
  color: var(--futureart-6);
  animation: pulse-1 1s ease infinite;
}
.mobile-header #mobile-menu .canvas-links a:hover i {
  animation: phone-animation 0.2s ease infinite;
}
.mobile-header #mobile-menu .canvas-links a i {
  margin-right: 5px;
}
.mobile-header #mobile-menu .canvas-links:last-child {
  margin-top: 10px;
}

@keyframes phone-animation {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(12deg);
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -12deg;
  }
  100% {
    rotate: 0;
  }
}
.m-right {
  margin-right: 10px;
}
@media only screen and (min-width: 380px) {
  .m-right {
    margin-right: 15px;
  }
}

section.banner {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
section.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 80vh;
}/*# sourceMappingURL=style.css.map */