section.contact {
    padding: 20px 0 40px;

    .general-row {
        width: 100%;

        @media only screen and (min-width:992px) {
            flex-direction: row-reverse;

        }

        .col-12 {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (min-width:992px) {
                align-items: flex-start;
            }
        }
    }

}


@keyframes adres {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.contact-swiper img {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
}

.contact-swiper {
    border: 1px solid transparent;
    padding-bottom: 0;
}

.navigation-button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 999;
    color: #fff;
    font-size: 22px;

    .dot {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 15px;
    }

}

.adress-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media only screen and (min-width:768px) {
        align-items: flex-start;
        padding: 0 25px;

    }

    .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .links-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 15px;

        @media only screen and (min-width:768px) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 15px;
        }

        span {
            @media only screen and (min-width:768px) {
                min-width: 80px;
            }
        }
    }

    a {

        color: var(--black-0);
        text-align: center;
        margin-bottom: 5px;

        @media only screen and (min-width:768px) {
            color: var(--black-0);
            text-align: center;
            margin-bottom: 5px;
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (min-width:768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }

}
.dropdown-col{
    margin-bottom: 15px;

    @media only screen and (min-width:768px) {
      justify-content: flex-start;
    }

    @media only screen and (min-width:992px) {
        justify-content: flex-end;
        align-items: flex-start;
      }
    
}

.contact-dropdown{
    position: relative;
    width: 100%;
    max-width: 280px;
    min-width: 140px;
    background-color: var(--futureart-9);

    .active-button{
        background-color: var(--futureart-9);
        padding: 10px 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }

    .adress-menu{
        background-color: var(--futureart-9);
        width: 100%;
        position: absolute;
        left: 0;
        padding: 10px 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        animation: adress-menu .3s ease forwards;

        button{
            padding: 10px 0;
            border-bottom: 1px solid var(--black-3);
            font-size: 14px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
    }
}