section.service{
    background-image: url(/futureart-image/background/gray-bg.png);
    background-color: var(--futureart-8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    padding: 50px 0;
    .row{
        width: 100%;
        .col-12{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 20px;
            .section-title{
                margin-bottom: 10px;
            }
            .small-text{

            }
            &:nth-child(2) .service-card .normal-logo,
            &:nth-child(2) .service-card .white-logo{
                width: 66px;
                height: 66px;
            }
        }
    }
    .title-col{
        font-size: 14px;
        text-align: center;
        padding: 0 15px;
    }
}
.service-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--futureart-6);
    width: 100%;
    max-width: 370px;
    padding: 25px 20px;
    transition: .1s;
    @media only screen and (min-width:1400px){
        max-width: 500px;
        
    }
    .icon{
        margin-bottom: 15px;
        img{
            object-fit: contain;
            &:last-child{
                display: none;
            }
         
        }
    }
    .normal-logo, .white-logo{
        object-fit: contain;
        margin-bottom: 15px;
    }
    .title{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    .text{
        font-size: 12px;
        text-align: center;
        line-height: 22px;
    }
    &:hover{
        background: linear-gradient(180deg, #6b4796 0%,#b65299 100%);
        transition: all .3s;
        color: var(--futureart-6);
        img{
            object-fit: contain;
            &:first-child{
                display: none;
            }
            &:last-child{
              display: inline-block;
            }
        }
    }
}